#include "resource.h"
#include <windows.h>

IDD_DIALOG1 DIALOGEX 22, 17, 315, 242
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "Touhou Replay Comment Editor"
LANGUAGE LANG_JAPANESE, 0x1
BEGIN
	EDITTEXT IDC_COMMENT, 4, 161, 307, 58, WS_VSCROLL | WS_HSCROLL | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN
	EDITTEXT IDC_GAMEINFO, 4, 33, 307, 108, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | ES_WANTRETURN
	EDITTEXT IDC_FILENAME, 4, 17, 307, 14, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY
	LTEXT "Comments on this replay", -1, 4, 147, 89, 8
	PUSHBUTTON "Save", IDC_SAVE, 100, 225, 50, 14
	PUSHBUTTON "Close", IDC_CLOSE, 162, 225, 50, 14
	LTEXT "Please drop the replay file", -1, 4, 4, 153, 8
END

STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
BEGIN
	IDS_ERR_CAPTION "Error"
	IDS_ERR_TEXT "Are you sure this is a replay file?\nVersion is wrong."
END
